// Secrets.xcconfig.template
// Copy this file to Secrets.xcconfig and fill in your values.
// Secrets.xcconfig is gitignored and must never be committed.
//
// Find these values in your Meta Developer portal:
//   https://developers.facebook.com/apps/YOUR_APP_ID/settings/basic/
META_APP_ID = YOUR_META_APP_ID
META_CLIENT_TOKEN = YOUR_META_CLIENT_TOKEN
